@import url('https://fonts.googleapis.com/css?family=Kanit:100,200,300,400,500,600,700,800,900|Lato:100,300,400,700,900|Montserrat:200,300,400,500,600,700,800,900|Open+Sans:300,400,600,700,800|Overpass:100,200,300,400,600,700,800,900|Roboto:300,400,500,700,900|Ubuntu:300,400,500,700|Unica+One&display=swap');
body {
    background-color: #f1f1f1;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
    letter-spacing: 0.03em;
}

h4, h5, h6, p, a, button, li, span, input, select, textarea {
    font-family: 'Open Sans', sans-serif;
}

#wp-dd-title {
    font-size: 22px;
    font-weight: 700;
}

#advance-settings-btn {
    font-size: 12px;
}

#start-deletion {
    background-color: #454545;
    color: #ffffff;
}

.wp-dd-stats-overview h6 {
    color: #323232;
    font-weight: 500;
}

.wp-dd-overview {
    opacity: 0;
}

.wp-dd-overview.active {
    opacity: 1;
}

.timer {
    opacity: 0;
    height: 0;
}

.timer.active {
    opacity: 1;
    height: 100%;
}

.timer #clock {
    font-family: 'Unica One', cursive;
    text-align: center;
}

#clock time {
    border: 1px solid #dee2e6;
    padding: 0.25rem 1rem;
    background-color: #f8f9fa;
}

.wp-dd-alert p {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)!important;
}

.wp-dd-alert.success p {
    border-left: solid 5px #28a745;
    background-color: #ffffff;
    color: #454545;
    font-weight: 500;
}

.wp-dd-alert.info p {
    border-left: solid 5px #17a2b8;
    background-color: #ffffff;
    color: #454545;
    font-weight: 500;
}

.loader-container {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    opacity: 0;
    transform: scale(0.9);
    z-index: 5;
    transition: all ease-in-out 0.2s;
}

.loader-container.active {
    display: flex;
    opacity: 1;
    transform: scale(1);
}

.loader-container h3 {
    font-size: 20px;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #88CC66;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(19px, 0);
    }
}