@import url('https://fonts.googleapis.com/css?family=Kanit:100,200,300,400,500,600,700,800,900|Lato:100,300,400,700,900|Montserrat:200,300,400,500,600,700,800,900|Open+Sans:300,400,600,700,800|Overpass:100,200,300,400,600,700,800,900|Roboto:300,400,500,700,900|Ubuntu:300,400,500,700|Unica+One&display=swap');
body{
    &.toplevel_page_duplicate-posts{
        #wpcontent{
            padding: 0;
            background-color: #f1f1f1;
        }
        h1, h2, h3 {
            font-family: 'Roboto', sans-serif;
        }
        
        h1, h2, h3 {
            letter-spacing: 0.03em;
        }
        
        h4, h5, h6, p, a, button, li, span, input, select, textarea {
            font-family: 'Open Sans', sans-serif;
        }
    }
}
.bca-delete-duplicate-posts{
    &.is-new-search{
        display: flex;
        justify-content: center;
        height: 100vh;
        margin-top: 100px;
        .bca-duplicate-posts-new-search{
            width: 100%;
            height: fit-content;
            max-width: 980px;
            text-align: center;
            padding: 25px;
        }
    }
    .components-notice{
        margin-left: 0;
        margin-right: 0;
    }
}
.bca-duplicate-posts-new-search{
    button{
        background-color: #000;
        color: #fff;
        &.is-busy{
            color: #000;
            &:hover,
            &:focus{
                color: #000;
            }
        }
        &:hover{
            color: #fff;
        }
    }
}